# Database Configuration
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# Model & GCS Configuration
MODEL_BUCKET_PATH=
MODEL_VERSION=v1

# Service Configuration
LOCAL_ARTIFACT_DIR=/app/artifacts
SEQUENCE_LENGTH=20
FEATURE_SIZE=426
POLL_INTERVAL_SECONDS=5
